<ion-menu [content]="content" (ionOpen)="menuOpened()" (ionClose)="menuClosed()">
 
<!-- The side menu title -->
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <!-- remember the `this.pages` object we created in `app.js`?
      // Iterate through, then when clicked, run the associated function
      // passing in the #p item.
      // changed #p to let p instead -->
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
 
</ion-menu>
<!-- What's my root? remember the this.rootPage?-->
<ion-nav id="nav" [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>


<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Home Page
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    
    
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <ion-segment [(ngModel)]="view">
      <ion-segment-button value="card">
        Card View
      </ion-segment-button>
      <ion-segment-button value="map">
        Map View
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="view">
    <ion-list *ngSwitchCase="'card'" item-content>
      <ion-card *ngFor="let request of requests ">
        <img src="../../assets/images/map.png">
        <ion-item>
          <ion-icon name="calendar" item-left large ></ion-icon>
          <h2>{{request.date}}</h2>
          <p>{{request.status}}</p>
          <button ion-button icon-left clear item-end (click)="editRequest(request)">
            <!--<ion-icon name="navigate"></ion-icon>-->
            Reject
          </button>
        </ion-item>
        <ion-item>
            <ion-icon name="person" item-left large ></ion-icon>
            <h2>{{request.clientid}}</h2>
            <p>{{request.addressString}}</p>
            <button ion-button icon-left clear item-end (click)="showRequestDetails(request)">
              <ion-icon name="navigate"></ion-icon>
              View
            </button>
        </ion-item>

      </ion-card>
      
    </ion-list>

    <ion-list *ngSwitchCase="'map'">
      <div #map id="map"></div>
      
    </ion-list>
  </div>
</ion-content>